*.o

.deps
INSTALL
Makefile
Makefile.in
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
mdate-sh
missing
netmask.info
stamp-h1
stamp-vti
test-driver
texinfo.tex
version.texi
netmask
aclocal.m4
