# autotools generated
aclocal.m4
aminclude_static.am
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
.deps
INSTALL
install-sh
Makefile.in
mdate-sh
missing
src/Makefile.in
test-driver
texinfo.tex

# misc
*~
